.form-contacto { 
    max-width: 600px;
    margin: auto;
    background: var(--color-background); /*ver color caja  */
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-block-start: 72px;
    margin-block-end: 72px;
}

form div label {
    color: var(--color-primary);
    font-size: medium;
}

.controls, #nombre, #email{
    width: 450px;
    background: var(--color-background);
    border: 3px solid var(--color-primary);
}

.horizontal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.only-button{
    justify-content: flex-end;
}

.botons {
    width: 300px;
}

#map {
    display: block;
    margin: auto;
}

@media screen and (max-width: 736px) {

    .form-contacto { 
        max-width: 300px;
    }

    form div label {
        font-size: small;
    }

    .controls, #nombre, #email{
        max-width: 300px;
    }

    .horizontal {
        flex-direction: column;
    }

    #map {
        width: 300px;
        height: 250px;
    }

}