*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
​
.form-contacto { 
    width: 800px;   
    background: var(--color-background); /*ver color caja  */
    padding: 30px;
    border: 4px solid green;
    margin: auto;
}

form div label {
    /*border: 1px solid red;/**/
    width: 50%;
    color: var(--color-primary);
}

.controls, #nombre, #email{
    width: 300px; 
    background: var(--color-background);
    border: 3px solid var(--color-primary);
    width: 50%;
}
​
​
.form-register p {    
    height: 40px;
    text-align: center;
}
​
.horizontal {
   display: flex;
   width: 100%;
   justify-content: space-between;
}

.botons {
    width: 300px;
    margin-top: 22.73px;
    margin-bottom: 72px;
}

