img {
    max-width: 100%;
}

#main-wrapper {
    padding: 3em 0 3em 0; /*LUCHO*/
}

#banner-wrapper {
    padding-top: 8em;   /*LUCHO*/    
}

#ancho-imagen-banner{
    width: 100%;
    display: block;
}

.contenedor-parrafos {
    /* border: solid 1px orangered; */
    padding: 1em;
    margin: auto;
    width: 90%;     
}

.alinear-parrafos-index {   
    text-align: justify;    
}

.tabla-index{
    margin: auto;
    width: 400px;
    text-align: center;
}

.tabla-index th{
    text-align: center;
}

.text-center{
    text-align: center;
}

.rrss-center{
    display: flex;
    justify-content: center;
    gap: 10px
}